*{
  padding: 0;
  margin: 0;
  box-sizing: 0;
}

/*Header Styles*/
.Header{
    width: 100%;
    background-image: url("images/Background1.jpg");
    opacity: 0.8;
    background-size: cover;
    padding-top: 10px;;
}
    
h1{
    font-family: Arial;
    text-align: center;
    color: white;
    font-weight: bolder;
}

.logo{
	display: block;
    margin-left: auto;
    margin-bottom: 10px;
    margin-right: 3px;
    border-style: groove;
    border-color: black;
  }

  .ul1{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgb(5, 5, 5,0.5);
  }

.li1{
    display: inline;
    float: left;
    }
      
.li1 a{
    display: block;
    color: white;
    padding: 20px;
    background-color:none;
    text-align: center;
    text-decoration: none;
  }
  
.li1 a:hover{
    background-color:darkolivegreen;
  }

.active{
    background-color:rgb(132, 132, 132,0.8);
  }

.logo_1{
    display: block;
    margin-left: 3px;
    margin-top: 50px;
    margin-bottom: 0px;
    margin-right: auto;
    border-style: groove;
    border-color: black;
  }

  /*Footer Styles*/
.footer{ 
    background-image:url("images/Background3.jpg");
    background-size: cover;
    width: 100%;
    height: 200px;
    text-align: center;
    padding-top: 20px; 
    margin-bottom: 0;
  }
  .footercontent{
    color: white;
    margin-bottom: 0;
 }
/*Horizontal line and hyperlink Styles*/
hr{
  border-color: black;
}

a{
    color:  black;
  }

  .sec2{
    box-sizing: border-box;
    background-image: url("images/Image1.jpg");
    background-size: cover;
    width: 100%;
    margin-top: 0;
    padding: 20px;
    opacity: 0.8;
    width: 100%;
    height: 600px;
  }
  

.about-us{
  width: 80%;
  margin: auto;
}
.about-col{
  flex-basis: 48%;
  margin-bottom: 30px;
}
.about-col div{
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.location{
  width: 80%;
  margin: auto;
  padding: 80px 0;
}
.location iframe{
  width: 100%;
}
.body{
  background-image: url("images/Background1.jpg");

}

.table{
  width: 80%;
  margin: auto;

}
table td{
  padding: 20px;
}


  